@import '../variables';

$side-menu-width: 800px;

.wheel-column {
    flex: 0 0 520px;
    position: relative;

    .wheel-popup {
        position: absolute;
        right: 0;
        padding: 10px;
        top: 50%;
        transform: translate(105%, -50%);
        border-radius: 3px;
        text-align: center;
        height: fit-content;

        @include themed() {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -16px;
                transform: translateY(-50%);
                border: 8px solid t('text');
                border-left-color: transparent;
                border-top-color: transparent;
                border-bottom-color: transparent;
            }

            background: t('text');
            border: 1px solid t('link');
            color: t('draggableWindowText');
        }
    }
}

.sm-column {
    flex: 0 0 280px;
}

.bonus-side-menu {
    position: fixed;
    top: 0;
    right: -$side-menu-width;
    height: 100vh;
    width: $side-menu-width;
    z-index: 99999;
    @include themed() {
        background: t('body');
        border-left: 1px solid rgba(t('text'), 0.25);
    }
    transition: right 0.3s ease;

    .bonus-scrollable {
        height: auto;
        max-height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fa-times {
        font-size: 1.25em;
        z-index: 60;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
}

.bonus-side-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    padding-right: 55px;
    height: 100%;

    .modal-ui-block {
        z-index: 50;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include themed() {
            @include blur(t('body'), 0.8, 0.95, 20px);
        }
    }

    .bonus-button {
        text-transform: uppercase;
        font-weight: 600;
    }
}

.bonus-side-menu.active {
    right: 0;
}

.bonus-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.65);
    z-index: 99998;
    transition: opacity 0.3s ease;
}

.bonus-wheel-reload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1500px) {
    .wheel-column {
        flex: 0 0 100%;

        .wheel-popup {
            right: unset;
            bottom: 0;
            transform: translate(-50%, 150%);
            left: 50%;

            @include themed() {
                &:before {
                    top: -16px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-right-color: transparent;
                    border-left-color: transparent;
                    border-top-color: transparent;
                    border-bottom-color: t('text');
                }
            }
        }
    }

    .sm-column {
        flex: 0 0 50%;
    }
}

@include media-breakpoint-down(md) {
    .sm-column {
        flex: 0 0 100%;
    }

    .bonus-side-menu {
        height: calc(100vh - 55px);
    }

    .banner-partner {
        left: unset;
    }

    .b {
        flex-direction: column;
        .banner {
            width: 100%;
        }
    }

    .bonus-side-menu-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media(max-width: $side-menu-width) {
    .bonus-side-menu {
        width: 100vw;
        border-left: none !important;
    }
}
