$themes: (
    default: (
        header: white,
        body: darken(white, 5.5%),
        secondary: #4764e1,
        text: black,
        logo: url('/img/logo/logo_black.png'),
        sidebar: white,
        link: $gray-700,
        link-hover: black,
        input: #f0f3f6,
        green: #27ae60,
        uiblock: lighten(#000000, 0.2%),
        bodybg: url('/img/misc/stars.png'),       
        headerbg: url('/img/misc/animtop-2.svg'),
        red: #e74c3c,
        draggableWindowHeader: #1a191e,
        draggableWindowBody: lighten(#1a191e, 5.5%),
        draggableWindowText: white
    ),
    dark: (
        header: #0f141f,
        body: #151d2c,
        secondary: #212735,
        text: #fff,
        headerbg: url('/img/misc/animtop-2.svg'),
        logo: url('/img/logo/logo_bits_small.png'),
        sidebar: lighten(#0f141f, 0.15%),
        sidebartwo: lighten(#0f141f, 0.25%),
        link: #539bf5,
        link-hover: #fff,
        input: #141621,
        backgroundbody: radial-gradient(circle, rgba(20,26,40,1) 0%, rgba(20,26,40,1) 63%, rgba(6,8,13,1) 100%),
        uiblock: lighten(#000000, 4.2%),
        green: #2ecc71,
        red: #e74c3c,
        draggableWindowHeader: darken(white, 5.5%),
        draggableWindowBody: white,
        draggableWindowText: black
    )
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    //noinspection SassScssUnresolvedVariable
    @return map-get($theme-map, $key);
}
